In [1]:
# initial imports
import pandas as pd
from path import Path

In [2]:
file_path = Path("/Users/samben/Desktop/Data Analysis/Supervised_Machine_Learning/linear_regression_salary/Resources/loans_data_encoded.csv")
encoded_df = pd.read_csv(file_path)
encoded_df.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [3]:
# Creating the scaler instance
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [ ]:
# Fitting the scaler
loans_data_scaled = data_scaler.fit_transform(encoded_df)
loans_data_scaled[:5]

In [ ]:
import numpy as np
print(np.mean(loans_data_scaled[:,0]))
print(np.std(loans_data_scaled[:,0]))